.offer-finished {
  width: 100%;
  height: 462px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .offer-finished-center {
    width: 98%;
    height: 100%;
    border-radius: 10px;
    border: 0.8px solid #e0e0e2;
    .offer-title {
      width: 100%;
      height: 43px;
      padding: 12px 20px;

      display: flex;
      flex-flow: row wrap;
      align-items: center;
      column-gap: 10px;
      img {
        width: 24px;
        height: 24px;
      }
      span {
        font-size: 16px;
        font-family: var(--fontfamily);
      }
    }
    .line {
      width: 70px;
      height: 2px;
      background-color: #ef394e;
      margin-right: 20px;
    }
    .offer-items {
      width: 100%;
      height: 415px;
      padding-top: 20px;

      .swiper {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 20px 12px;
        border-left: 0.8px solid lightgray;
        .swiper-center {
          width: 100%;
          height: 376px;
          .pic-offer {
            width: 100%;
            height: 26px;
            img {
              width: 116px;
              height: 14px;
            }
          }
          .pic-pic {
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 150px;
              height: 150px;
            }
          }
          .pic-title {
            width: 100%;
            height: 52px;
            font-size: 12px;
            color: #3f4064;
            font-family: var(--fontfamily);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            -webkit-box-orient: vertical;
            text-align: right;
          }
          .pic-center-text {
            width: 100%;
            height: 23px;
            font-size: 11px;
            color: crimson;
            font-family: var(--fontfamily);
            text-align: right;
            font-weight: normal;
          }
          .pic-price {
            width: 100%;
            height: 33px;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            padding-top: 5px;
            .right {
              width: 20%;
              height: 20px;
              background-color: crimson;
              font-size: 12px;
              border-radius: 15px;
              color: whitesmoke;
              font-family: var(--fontfamily);
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .center {
              width: 70%;
              height: inherit;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              font-size: 16px;
              font-family: var(--fontfamily);
              color: #3f4064;
            }
            .left {
              width: 10%;
              height: inherit;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 20px;
                height: 20px;
              }
            }
          }
          .pic-offer-price {
            width: 100%;
            height: 26px;
            font-size: 12px;
            font-family: var(--fontfamily);
            text-decoration: line-through;
            color: #c0c2c5;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-left: 40px;
            padding-left: 20px;
          }
          .pic-sell-line {
            width: 100%;
            height: 4px;
            background-color: lightgray;
            border-radius: 10px;
            direction: ltr;
            .red-line {
              width: 94%;
              height: 100%;
              background-color: crimson;
              border-radius: 10px;
            }
          }
          .pic-sell {
            width: 100%;
            height: 30px;
            font-size: 11px;
            font-family: var(--fontfamily);

            display: flex;
            flex-flow: row wrap;
            padding-top: 10px;
            .right {
              width: 50%;
              height: 100%;
              .red {
                color: crimson;
                text-align: right;
                font-weight: normal;
              }
              .normal {
                color: #81858b;
                font-weight: normal;
              }
            }
            .left {
              width: 50%;
              height: 100%;
              color: crimson;
              text-align: left;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              padding-left: 5px;
            }
          }
        }
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.bor-rad {
  border-radius: 10px;
}
